.about {
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.about .container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.about .about-left {
    position: relative;
}

.about .about-left h2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-135%);
    font-size: 10rem;
    text-transform: lowercase;
    color: rgba(0,0,0,0.4);
}

.about .about-left h3 {
    color: #000;
    font-size: 3rem;
    letter-spacing: -3px;
}

.about .about-right p {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .about {
        height: 500px;
        margin-top: 50px;
    }
    .about .about-left h2 {
        font-size: 7rem;
    }
    .about .about-left h3 {
        font-size: 2.5rem;
    }
    .about .about-right p {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .about {
        height: 300px;
        margin-top: 100px;
    }
    .about .container {
        align-items: center;
        grid-template-columns: 1fr;
    }
    .about .about-left h2 {
        font-size: 5rem;
        transform: translateY(-75%);
    }
    .about .about-left h3 {
        font-size: 2.3rem;
    }
    .about .about-right {
        align-self: flex-start;
    }
    .about .about-right p {
        font-size: 1.3rem;
    }
}

@media (max-width: 430px) {
    .about {
        height: 350px;
        padding-top: 130px;
    }
    .about .about-left h2 {
        font-size: 4.5rem;
        transform: translateY(-115%);
    }
    .about .about-left h3 {
        font-size: 2.3rem;
    }
    .about .about-right {
        align-self: flex-start;
    }
    .about .about-right p {
        font-size: 1.3rem;
    }
}

@media (max-width: 375px) {
    .about {
        height: 300px;
    }
    .about .about-left h2 {
        font-size: 4rem;
        transform: translateY(-115%);
    }
    .about .about-left h3 {
        font-size: 2rem;
    }
    .about .about-right {
        align-self: flex-start;
    }
    .about .about-right p {
        font-size: 1rem;
    }
}