.footer {
    width: 100%;
    margin-top: 50px;
    height: 150px;
}

.footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer .container p {
    width: 100%;
    text-align: end;
    color: rgba(0,0,0,0.5);
}

@media (max-width: 430px) {
    .footer .container p {
        font-size: .8rem;
        color: #000;
    }
}